.actions {
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem 3rem 1rem;
  background-color: #f0f0f0;
  grid-column: 1;
  grid-row: 1 / span 5;
  grid-template-columns: 1fr;
  grid-template-rows: 7.5% 22.5% 40% 22.5% 7.5%;
}

.opponent-actions {
  grid-column: 1;
  grid-row: 1;
}

.player-actions {
  grid-column: 1;
  grid-row: 5;
}

.action-icons {
  display: flex;
  gap: 5px;
  font-size: 0.2rem;
  justify-content: center;
}

.player-cards {
  grid-column: 1;
  grid-row: 4;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.secret-card {
  font-weight: bold;
  width: 40%;
  aspect-ratio: 4/6;
  border: 2px solid #000;
  border-radius: 5px;
  background: transparent;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secret-card .content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-direction: space-between;
  justify-content: space-between;
}

.secret-card .content span {
  padding: 0 0.5rem;
}

.secret-card .content span:nth-child(2) {
  text-align: end;
}

.discarded-cards {
  font-weight: bold;
  width: 40%;
  aspect-ratio: 4/6;
  border: 2px solid #000;
  border-radius: 5px;
  background: transparent;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deck-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  grid-column: 1;
  grid-row: 3;
}

.deck {
  --card-color: #2e2c2ce7;
  font-weight: bold;
  width: 40%;
  aspect-ratio: 4/6;
  border: 2px solid #000;
  border-radius: 5px;
  background: var(--card-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deck.discard {
  --card-color: #a01b1be7;
  background: var(--card-color);
}

.deck[data-count="2"] {
  box-shadow: 2px -2px 0 0 var(--card-color), 2px -2px 0 1px #000;
  margin-right: 2px;
  margin-top: 2px;
}

.deck[data-count="3"] {
  box-shadow: 2px -2px 0 0 var(--card-color), 2px -2px 0 1px #000,
    4px -4px 0 0 var(--card-color), 4px -4px 0 1px #000;

  margin-right: 4px;
  margin-top: 4px;
}

.deck[data-count="4"] {
  box-shadow: 2px -2px 0 0 var(--card-color), 2px -2px 0 1px #000,
    4px -4px 0 0 var(--card-color), 4px -4px 0 1px #000,
    6px -6px 0 0 var(--card-color), 6px -6px 0 1px #000;

  margin-right: 6px;
  margin-top: 6px;
}

.deck[data-count="5"] {
  box-shadow: 2px -2px 0 0 var(--card-color), 2px -2px 0 1px #000,
    4px -4px 0 0 var(--card-color), 4px -4px 0 1px #000,
    6px -6px 0 0 var(--card-color), 6px -6px 0 1px #000,
    8px -8px 0 0 var(--card-color), 8px -8px 0 1px #000;

  margin-right: 8px;
  margin-top: 8px;
}

.deck[data-count="6"] {
  box-shadow: 2px -2px 0 0 var(--card-color), 2px -2px 0 1px #000,
    4px -4px 0 0 var(--card-color), 4px -4px 0 1px #000,
    6px -6px 0 0 var(--card-color), 6px -6px 0 1px #000,
    8px -8px 0 0 var(--card-color), 8px -8px 0 1px #000,
    10px -10px 0 0 var(--card-color), 10px -10px 0 1px #000;

  margin-right: 10px;
  margin-top: 10px;
}

.deck[data-count="7"] {
  box-shadow: 2px -2px 0 0 var(--card-color), 2px -2px 0 1px #000,
    4px -4px 0 0 var(--card-color), 4px -4px 0 1px #000,
    6px -6px 0 0 var(--card-color), 6px -6px 0 1px #000,
    8px -8px 0 0 var(--card-color), 8px -8px 0 1px #000,
    10px -10px 0 0 var(--card-color), 10px -10px 0 1px #000,
    12px -12px 0 0 var(--card-color), 12px -12px 0 1px #000;

  margin-right: 12px;
  margin-top: 12px;
}
